@{
    ViewData["Title"] = "Contact";
}
<h2>Clique abaixo para realizar download do teste.</h2>
<br />
<a href="https://drive.google.com/file/d/0B1SWmGwTyaNGZXRYNzJtMEdzcjA/view?usp=sharing" class="btn btn-default">Download</a>

